header {
    background-color: mediumpurple;
    color: antiquewhite;
    text-align: center;
}
main {
    background-color: lightgrey

}
body {
    background-image: url("../assignment/record.png");
    background-repeat: repeat;
    margin: 0;
    padding: 1em;
}